h1 , .recipe  {
    text-align: center;
}

h1 {
    font-size: 60px;
}
.recipe {
    font-size: 30px;
}

body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background-color:  rgb(97, 95, 76);
    color: #FFFFFF;
}

img {
    width: 600px;
    height: 400px;

}

.inline {
    display: inline;
}

.ice.recipe  {
    margin-left: 200px;
}
.cupcakes.recipe  {
    margin-left: 650px;
}

.house.recipe {
    margin-left: 600px;
}

div .cupcakes , div .house {
    margin-left: 150px;
}


