h1 , .recipe  {
    text-align: center;
}

h1 {
    font-size: 60px;
}
.recipe {
    font-size: 30px;
}

body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background-color:  rgb(97, 95, 76);
    color: #FFFFFF;
}

img {
    width: 600px;
    height: 400px;

}

.inline {
    display: inline;
}



.img-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}